# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# TeamsFx files
env/.env.*.user
env/.env.local
env/.env.dev
.env
.DS_Store
build
appPackage/build
.deployment
.localConfigs

# dependencies
/node_modules

# testing
/coverage

# Dev tool directories
/devTools/

# SSL certificates
*.pem
*.key
*.crt
*.cert

openssl.cnf